div:first-child{
	border-top: 60px solid transparent;
	border-left: 60px solid rgb(0,135,81);
	border-bottom: 60px solid transparent;
	height: 0;
	position: absolute;
	width: 0;
}

div:last-child{
	height: 120px;
	width: 240px;
}

p{
	height: 40px;
	margin: 0;
	width: 240px;
}

p:first-child{
	background-color: rgb(605,0,0);
}

p:nth-child(even){
	background-color: rgb(605,605,605);
}

p:last-child{
	background-color: rgb(0,0,0);
}