/*
1.The hyperlink element does not respond to any transformations when it is in its active state; therefore, I created a parent <div> element as <div>
elements will respond to transformations when it is in its active state. 

2. I have created an interactive button that takes web users to a link without using any <button> element or without any JavaScript programming.

3. The drawback from not using a <button> element is that the web user must click on any are that is overlapped by both the <div> and the <a> element
for this interactive button's effect to be seen. Otherwise, the HTML hyperlink element will not perform its job (i.e. bring to the destined website/web page)
*/
div{
    background-color: yellow;
	border: 3px solid rgb(0,0,0);
	box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    width: 90px;
}

div:active{
    -ms-transform: translate(2.5px,2.5px); /* IE vendor prefix*/
    -webkit-transform: translate(2.5px,2.5px); /* Chrome, Safari, Opera vendor prefixes*/
    transform: translate(2.5px,2.5px); 
}

a{
	color: rgb(0,0,0); 
	font-weight: bold;
	margin-left: 5px;
	text-decoration: none;
}